
.container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container > .row {
    display: flex;
    width: 1200px;
    margin-left: calc(50% - 600px);
}

.container > .short-row {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: calc(50% - 350px);
    gap: 60px;
    text-align: center;
}

.container > .shortest-row {
    width: 500px;
    margin-left: calc(50% - 250px);
    color: white;
}

.container > .main {
    flex-direction: column;
    gap: 30px;
}

.main > .text {
    text-align: center;
}

.container > .row > .links {
    width: var(-width-row);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.link {
    width: calc((1200px - (6 * 20px))/ 3);
    height: calc((1200px - (6 * 20px))/ 3);
    margin: 20px;
    border: 2px solid #E7E7E7;
    background-color: #F8F8FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.container > .about {
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.about > .text {
    width: 50%;
}

.about > .image {
    width: 50%;
}

/*
.short-row > .text {
    display: flex;
    width: 20%;
}

.short-row > form {
    width: 60%;
}

.short-row > .socials {
    width: 20%;
}*/

@media (max-width: 1300px) {
    .container > .row {
        width: 1000px;
        margin-left: calc(50% - 500px);
    }
}

@media (max-width: 1100px) {
    .container > .row {
        width: 900px;
        margin-left: calc(50% - 450px);
    }
}

@media (max-width: 900px) {
    .container > .row {
        width: 700px;
        margin-left: calc(50% - 350px);
    }
    .container > .short-row {
        width: 700px;
        margin-left: calc(50% - 350px);
    }
}

@media (max-width: 750px) {
    .container > .row {
        width: 500px;
        margin-left: calc(50% - 250px);
    }
    .container > .short-row {
        width: 500px;
        margin-left: calc(50% - 250px);
    }
}

@media (max-width: 550px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .container > .row,
    .container > .short-row,
    .container > .shortest-row {
        width: 100%;
        margin-left: 0;
    }
    .link {
        width: 80%;
        height: 80%;
    }
}