.container.top {
    background-color: #F30F21;
    background-image: url(../../img/backgrounds/backgtound-stars.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    min-height: 100vh;
}

.container.bg-violet > .hero {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;
    color: white;
    font-size: 30px;
    gap: 200px;
}


.logo {
    height: 150px;
}

.clock {
    height: 60px;
}

h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
}

.icon {
    width: 130px;
}

.link > a {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: #F30F21;
}

.image > img {
    height: 300px;
}

.container > .back-to-top {
    background-color: #F30F21;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    color: white;
}







